*{
    font-family: 'Mulish', sans-serif;
}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px; 
    margin: 10%;
}

 th{
     background-color: rgb(255, 255, 0);
 }

.none{
    border: none;
}